*
{
    margin: 0;
}
.navbar-parent-class
{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: black;
}

.navbar-class
{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
